<div class="row sidebar">
  <div class="col">
    <button
      class="btn new"
      (click)="createEvent()"
    >
      <i class="bi bi-plus-lg"></i>
      <strong>Create</strong>
    </button>
  </div>
  <div class="col">
    <ngb-datepicker
      #dp
      [(ngModel)]="model"
      (navigate)="date = $event.next"
      (dateSelect)="onSetDate($event)"
    ></ngb-datepicker>
  </div>
</div>

