<app-header
  [type]="type"
  [start]="start"
></app-header>
<div class="container">
  <div class="row">
    <div class="col-3">
      <app-sidebar [model]="model"></app-sidebar>
    </div>
    <div class="col">
      <app-scheduler
        [type]="type"
        [start]="start"
        [events]="events"
      ></app-scheduler>
    </div>
  </div>
</div>
