<div
  class="event"
  (click)="editEvent()"
  [ngStyle]="{
    'position': 'absolute',
    'top':  40*event.y + 'px',
    'left': 112*event.x - 49 + 'px',
    'height': 40*event.h + 'px',
    'width': event.w,
    'background-color': !event.isGuest ? '#1A74EB' : '#6f42c1',
    'padding': '4px 12px'
  }"
>
  <strong>{{event.title}}</strong>
  <p>{{event.startAt | hourOfDay}} - {{event.endAt | hourOfDay}}</p>
</div>
