<table class="table table-borderless scheduler">
  <thead>
    <tr class="top">
      <th class="hour" scope="col"></th>
      <th class="title" scope="col" *ngFor="let day of schedule.days">
        <strong class="title" [ngStyle]="{'color': day === currentDay && '#1A74EB'}">{{day | dayOfWeek}}</strong>
        <div class="title">
          <p
            class="title"
            [ngStyle]="{
              'color': day === currentDay && '#FFF',
              'background-color': day === currentDay && '#1A74EB',
              'border-radius': '100%',
              'width': '46px',
              'height': '46px'
            }"
          >{{day | dayOfMonth}}</p>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="tz">
      <th scope="row">
        <small class="title">{{schedule.tz}}</small>
      </th>
      <td scope="col" *ngFor="let day of schedule.days"></td>
    </tr>
    <tr *ngFor="let hour of schedule.hours">
      <th class="hour" scope="row">
        <small class="title">{{hour | hour}}</small>
      </th>
      <td
        *ngFor="let day of schedule.days"
        (click)="createEvent(day, hour)"
        [ngStyle]="{'width': type === 'Week' ? '112px' : '100%'}"
      >
      </td>
    </tr>
    <app-event
      *ngFor="let event of schedule.events"
      [event]="event"
    ></app-event>
  </tbody>
</table>
