<div class="login">
  <form class="login-body" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <div class="login-header">
      <img src="../../../assets/google-logo-1.png" alt="Google Logo">
      <strong>Sign in</strong>
      <p>Go to calendar</p>
    </div>
    <div class="mb-3">
      <input
        id="email"
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Email"
      >
    </div>
    <div class="mb-3">
      <input
        id="password"
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Digite sua senha"
      >
    </div>
    <div class="login-footer">
      <button class="btn btn-light" routerLink="/login/signup" >Create account</button>
      <button type="submit" class="btn btn-primary">Next</button>
    </div>
  </form>
</div>

